

  <div class="hoverable">
    <div class="center-align">
      <br>
      <br>
      <%= link_to 'View Songs', artist_songs_path(@artist), class: "ui button purple" %> 
      <%= link_to 'Back', artists_path, class: "ui button blue" %>
    </div>
  </div>

