<%= form_for [@artist, @song] do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'ui button' %>
  </div>
<% end %>