<br>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
  <h1>Welcome, <%= current_user.first_name %></h1>
<br>
<h2>Billboard Music Charts </h2>
<div class="center-align">
  <div class="hoverable">
  </div>
</div>
<br>
    <% @billboards.each do |billboard| %>
      <div class="center-align">
      <div class="card-panel hoverable">
      <h2><%= link_to billboard.name, billboard_path(billboard) %></h2>
      </div>
      </div>
      <br>
      

<% end %>




  